<a href="https://colab.research.google.com/github/mohamedamrfarouk/arabic_dialect_classifier/blob/main/data_fetching_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import the needed libraries for fetching the data

In [1]:
import requests
import numpy as np
import pandas as pd
import json
import re

In [2]:
#dataset_url = "https://drive.google.com/file/d/1Q3wDYQk6UQTtRu5L4167Xs9k6aC4Dra-/view?usp=sharing"
#from google.colab import drive
#drive.mount(dataset_url)

# load the csv file in the data frame

In [25]:
df = pd.read_csv("/content/dialect_dataset.csv")
df.dropna()
df['id']=df['id'].apply(str)

In [4]:
# id_list = df.id.tolist()
# id_list = [str(x) for x in list]
# len(id_list)

# get the json

In [5]:
# def get_the_text(ids):
#   payload = ids
#   url = 'https://recruitment.aimtechnologies.co/ai-tasks'
#   r = requests.post(url, data=json.dumps(payload))
#   response = r.text
#   text = response[2:-2].split(':')[1][1:]

#   return text

In [6]:
#r.text

In [7]:
# for i in range(len(list)/1000  + 1)
# get_the_text(list[0:1000])

In [8]:
# def clean_the_text(text):
#   text = re.sub("@([a-zA-Z0-9_]{1,50})","",text)
#   text = re.sub("#([a-zA-Z0-9_]{1,50})","",text)
#   text = re.sub("  "," ",text)
#   RE_EMOJI = re.compile(u'([\U00002600-\U000027BF])|([\U0001f300-\U0001f64F])|([\U0001f680-\U0001f6FF])')
#   text = re.sub(RE_EMOJI,"",text)
#   return  text

In [9]:
# clean_text(text)

In [10]:
# clean_texts = []
# for i in range(len(df)):
#   id = df.id.iloc[i]
#   text = get_the_text(id)
#   clean_text = clean_the_text(text)
#   #df['text'][df.id == id] = clean_text
#   clean_texts.append(clean_text)

In [11]:
# len(clean_texts)

In [12]:
# payload = id_list[:1000]
# url = 'https://recruitment.aimtechnologies.co/ai-tasks'
# r = requests.post(url, data=json.dumps(payload))
# data = r.json()

In [13]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'
data = {}
id_list = df.id.tolist()
id_list = [str(x) for x in id_list]

for i in range(int(len(df)/1000)):
  payload = id_list[i*1000:(i+1)*1000]
  r = requests.post(url, data=json.dumps(payload)) 
  data.update( r.json() )


payload = id_list[len(data):len(df)]
r = requests.post(url, data=json.dumps(payload)) 
data.update( r.json() )

In [19]:
dataframe = pd.DataFrame.from_dict(data, orient='index', columns=['text'])
dataframe = dataframe.reset_index()
dataframe = dataframe.rename(columns={"index":"id"})
dataframe.head(5)

                    id                                               text
0  1175358310087892992   @Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1  1175416117793349632  @7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2  1175450108898565888                    @KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3  1175471073770573824         @HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4  1175496913145217024                 @hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡  Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

In [27]:
result_dataframe = df.merge(dataframe,on='id')
result_dataframe.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº

In [28]:
result_dataframe.to_csv("/content/dialect_dataset_with_text.csv")